@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@model IEnumerable<Barbershop.ViewModels.ContactMessageViewModel>

<h2>Съобщения от потребители</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Имейл</th>
            <th>Съобщение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Name</td>
                <td>@message.Email</td>
                <td>@message.Message</td>
            </tr>
        }
    </tbody>
</table>