@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DateTime>

<h2>Дати</h2>

<ul>
    @foreach (var date in Model)
    {
        <li>
            <a asp-controller="Admin" asp-action="AllAppointments" asp-route-date="@date.ToString("yyyy-MM-dd")">
                @date.ToString("dd.MM.yyyy")
            </a>
        </li>
    }
</ul>